
.ion-content-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 100%;
 
  
}
.about {
  transform: translate3d(-100px, 20px, 0) !important;

  transition: 0.5s;
  height:0px;
}
.about-active {
  transform: translate3d(0, 20px, 0);
  transition: 0.5s;
  height:50%;
}

.about-button{
  z-index: 1000;
  transform: translate3d(0, 0, 0) !important;
  transition: 0.5s;

}
.about-button-active {
  z-index: 1000;
  transform: translate3d(0, 20px, 0) !important;
  transition: 0.5s;

}

::-webkit-scrollbar,
*::-webkit-scrollbar {
display: none;
}
