<ion-app>

  <ion-toolbar color="translucent">
    <ion-buttons slot="start" style="border-radius:360px;">
      <ion-menu-button autoHide="false"></ion-menu-button>

    </ion-buttons>
    <ion-buttons disabled slot="end" style="border-radius:500px;color:transparent">
      <ion-button>
        <ion-icon name="alert-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center;"><strong>ComingBUS-beta</strong></ion-title>
  </ion-toolbar>







  <ion-menu side="start" menuId="first" contentId="main">
    <!--     <div> -->
    <ion-content class="ion-content-center" scrollY="false">
      <div style="vertical-align:middle;padding-top: 5vh;height:100%">
        <ion-img style="width: 100%;height:20vh;text-align: center;" src="assets/icon/bus_icon.png"></ion-img>
        <ion-title style="text-align: center;">ComingBus-beta</ion-title>
        <!-- <ion-list class="ion-padding" style="padding-top: 5vh;--ion-list-background:red"> -->
        <div style="width:80%;height:100%;margin:0 auto;padding-top: 50px;">
          <ion-item detail (click)="gotoHome()" routerLink="/home"
            style="--ion-item-background: translucent;border-radius: 10px;">
            หน้าหลัก
          </ion-item>
          <ion-item detail (click)="gotoPath()" routerLink="/path">
            ข้อมูลเกี่ยวกับแผนที่
          </ion-item>
          <ion-item [detail]="!active" lines="none" [ngClass]="getChangeAboutClass()" (click)="gotoAbout()">
            เกี่ยวกับ<ion-icon *ngIf="active" slot="end" name="chevron-down-outline"></ion-icon>
          </ion-item>
          <ion-item lines="none" [ngClass]="getChangeClass()">
            <ion-text>
              แอปพลิเคชันนี้ เป็นส่วนหนึ่งของการทดสอบการแสดงตำแหน่งพิกัด การคำนวณระยะทางและเวลาการมาถึงของรถไฟฟ้าโดยสาร
              มหาวิทยาลัยนเรศวร
            </ion-text>
          </ion-item>

          <ion-item lines="none">
            <ion-label class="ion-text-wrap">
            </ion-label>
          </ion-item>
          <ion-item lines="none" expand="full" style="position: absolute;bottom:20px;right:0">
            <ion-button slot="end" href="/home">Refresh</ion-button>
          </ion-item>

          <!--       </ion-list> -->
        </div>
      </div>
    </ion-content>
    <!--   </div> -->

  </ion-menu>


  <ion-router-outlet id="main"></ion-router-outlet>
  <!--   <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="presentToast()">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
  
      <ion-tab-button>
  
      </ion-tab-button>
  
      <ion-tab-button (click)="openFirst()">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs> -->

</ion-app>