<ion-content scrollY="false">
  <div style="padding-top: 50px;">
    <ion-item color="primary" detail="false" slot="end" class="ion-text-center" lines="none">
      <ion-icon slot="start" name="arrow-back-outline" style="padding-left:-5px" routerLink="/home"></ion-icon>
      <ion-label class="ion-align-items-center"><strong>เส้นทางการเดินรถ</strong></ion-label>
      <ion-icon disabled slot="end" name="arrow-back-outline" style="color:transparent"></ion-icon>
    </ion-item>
  </div>
  <div id="container">
    <div id="container-map" style="width: 100%;height:80%">
      <div #map id="map"></div>
    </div>
    <div style="width: 100%;height:20%;border-radius: 10px;background: #5648dd;">
      <!-- <div style="position:absolute;bottom: 0;left: 0;right:0;background:#465324;height:20%"> -->

      <div style="padding-top:2vh;padding-bottom:2vh">
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col size="7" size-lg>
              <ion-card class="card-container" style="width: 90%;margin:0 auto;height:100%;padding:5px;border-radius: 10px;border: #546231;border-width: 10px;">
                <ion-text style="font-size: 4vw;">
                  แสดงเส้นทางการเดินรถ
                </ion-text>
                <div>
                  <ion-button color="danger" (click)="createRedPath()" style="width: 15vw;">RED</ion-button>
                  <ion-button color="warning" (click)="createYellowPath()" style="width: 20vw;">YELLOW</ion-button>
                </div>
              </ion-card>
            </ion-col>
            <ion-col size="5" size-lg>
              <ion-card class="card-container" style="width: 90%;margin:0 auto;height:100%;padding:5px;border-radius: 10px;">
                <ion-text style="font-size: 4vw;">
                  แสดงป้ายรถไฟฟ้าโดยสาร
                </ion-text>
                <div>
                  <ion-select (ionChange)="onSelectChange($event)" [interfaceOptions]="customPopoverOptions"
                    interface="popover" placeholder="เลือกป้าย">
                    <ion-select-option *ngFor="let data of stop" [value]="data">{{data.name}}</ion-select-option>
                  </ion-select>
                </div>
              </ion-card>



            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!-- </div> -->



    </div>
  </div>



</ion-content>