#container {
  overflow: hidden;
  text-align: center;
  //background: #303030;
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  bottom: 0;
  //top: 50%;s
  //transform: translateY(-50%);
}
#container-map {
  position: relative;
  //background: #859648;
  //border-radius: 20px;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.card-container {
  border-radius: 10px;
  -webkit-box-shadow: 5px 3px 5px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 5px 3px 5px 2px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 3px 5px 2px rgba(50, 50, 50, 0.75);
  
}

