#container {
  overflow: hidden;
  text-align: center;
  //background: #303030;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  //top: 50%;
  //transform: translateY(-50%);
}
#container-map {
  position: relative;
  //background: #859648;
  //border-radius: 20px;
}
#container-list {
  //background: #303030;
  height: 70%;
  //border-radius: 20px;
  margin: 0px;
  background-color: #eeeeee;
  

}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#container-info{
  background: rgba(150, 150, 150, 0.7);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: fit-content;
  height: 70px;
  position: absolute;
  top:70px;
  right:0;
  padding:5px;
  padding-left:10px;
  overflow: hidden;
}
#container-info-stop{
  background: rgba(150, 150, 150, 0.7);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top:140px;
  right:0;
  padding:5px;
  padding-left:10px;
  overflow: hidden;
}


ion-content ion-toolbar {
  --background: translucent;
}
ion-text {
  margin: auto 0;
}
#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.list-container {
  border-radius: 10px;
  -webkit-box-shadow: 5px 3px 5px 2px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 5px 3px 5px 2px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 3px 5px 2px rgba(50, 50, 50, 0.75);
}
.list-container-active {
  border-radius: 10px;
  border-width: 3px;
  border-color: #000000;
  border-style: solid;
}

.red-color {
  color:red;
}
.yellow-color {
  color: #EEBB00;
}
.etc-color {
  color:#33cc33;
}


.fullSize {
  transform: translate3d(0, -100px, 0) !important;
  padding-bottom: 150px;
  transition: 0.5s;
}
ion-card {

  transform: translate3d(0, 0, 0);
  //padding-bottom: 200px;
  transition: 0.5s;
  padding-bottom: 250px;
  scrollbar-width: none;
  
  
} 
ion-card ion-card-content{
  
  background: transparent;
  height: 100%;
  overflow: scroll;
  background: #5648dd;
  border-radius: 10px;
  padding-top:20px;
  padding-bottom: 50px;

  margin-top:-20px;
  
}
ion-list{
  background: transparent;
}
ion-list ion-toolbar{
  background: #FFFFFF;
}

/*
==============================================
pulse
==============================================
*/

.pulse{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}