<!-- <ion-header>
  <ion-toolbar style="position: absolute;background-color: transparent;">
    <ion-title>TRACK THE BUS</ion-title>
    <ion-button *ngIf="!tracked" size="small" shape="round" slot="end"
      (click)="presentAlertReconnect('Connection Lost')">
      <ion-icon name="alert-circle-outline"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header> -->


<ion-content scrollY="false">
  <div id="container">
    <div id="container-map" style="width: 100%;height:60%">
      <div #map id="map"></div>
    </div>
    <div id="container-info" *ngIf="nearest">
      <ion-toolbar>
        <ion-row>
          <ion-text><strong style="font-size: 4vw;">ป้ายรถไฟฟ้า</strong></ion-text>
          <ion-text style="font-size: 5vw;padding-left: 10px;">{{nearest.name |titlecase}}</ion-text>
        </ion-row>
        <ion-row>
          <ion-text><strong style="font-size: 4vw;">ระยะห่าง</strong></ion-text>
          <ion-text style="font-size: 4vw;padding-left: 10px;">{{nearest.val |number}} m</ion-text>
        </ion-row>
      </ion-toolbar>
    </div>
    <div id="container-info-stop" *ngIf="timeofStop">
      <ion-toolbar>

        <ion-icon color="danger" slot="end" size="medium" name="close-circle-outline" (click)="clearStop()" style="padding-left: 5px;"></ion-icon>

        <ion-row>
          <ion-text><strong style="font-size: 4vw;margin:0 auto">เวลา ณ ป้าย</strong></ion-text>
        </ion-row>
        <ion-row>
          <ion-text style="font-size: 5vw;margin:0 auto">{{timeofStop.name}}</ion-text>
        </ion-row>

      </ion-toolbar>
    </div>

    <ion-card id="container-list">

      <ion-card-header color="primary" style="padding:8px;width: 90%;margin:0 auto;border-radius: 10px;z-index: 101;">
        <h1 style="margin:0 auto">ComingBus Tracking</h1>
      </ion-card-header>
      <ion-card-content>

        <!-- <ion-list *ngFor="let data of stream_datas">

        </ion-list> -->
        <p #triggerElement></p>
        <ion-list style="padding: 8px;" *ngFor="let data of stream_datas;let i = index">
          <ion-toolbar class="ion-no-padding" [ngClass]="getFollowClass(data)" (click)="onClickFollow(data)">
            <ion-row>
              <ion-col size="2" size-lg>
                <ion-icon [ngClass]="setIconColor(data)" style="height: 100%;width: 90%;" name="bus-outline"></ion-icon>
              </ion-col>
              <ion-col size="8" size-lg>
                <ion-row>
                  <!-- <ion-text><strong>BUS :</strong></ion-text> -->
                  <ion-text><strong>{{data.bus}}</strong></ion-text>
                </ion-row>
                <ion-row>
                  <ion-label>เส้นทาง :</ion-label>
                  <ion-text style="padding-left: 5px;">{{data.bus_path_name}}</ion-text>
                </ion-row>
                <div style="position: absolute;right:0;top:0;bottom:0;padding-left: 5px;">
                  <ion-grid style="height: 100%;">
                    <ion-row>
                      <ion-col style="padding:0px;width:fit-content">
                        <ion-text>V :{{data.v_km}} km/h</ion-text>
                      </ion-col>
                    </ion-row>
                    <ion-row *ngIf="data.est">
                      <ion-col style="padding:0px;width:fit-content">
                        <ion-text>ระยะ :{{data.est.desc.dist}} m</ion-text>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
                <!--                 <ion-row *ngIf="!data.ave_velocity">
                  <ion-label>เส้นทาง :</ion-label>
                  <ion-text style="padding-left:5px">{{data.velocity}}</ion-text>
                </ion-row>
                <ion-row *ngIf="data.ave_velocity">
                  <ion-label>เส้นทาง :</ion-label>
                  <ion-text style="padding-left: 5px;">{{data.ave_velocity}}</ion-text>
                </ion-row> -->
              </ion-col>
              <ion-col size="2" size-lg *ngIf="data.est">
                <ion-row>
                  <ion-col style="padding:0px">เวลา(s)</ion-col>
                </ion-row>
                <ion-row>
                  <ion-col style="padding:0px">{{data.est.time}}</ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </ion-list>




        <ion-list style="padding: 8px;">
          <ion-toolbar class="ion-no-padding list-container">
            <ion-row>
              <ion-col size="2" size-lg>
                <ion-icon color="medium" style="height: 100%;width: 90%;" name="bus-outline"></ion-icon>
              </ion-col>
              <ion-col size="7" size-lg>
                <ion-row>
                  <ion-text><strong>TEST01</strong></ion-text>
                </ion-row>
                <ion-row>
                  <ion-label slot="end">V : 0</ion-label>
                  <ion-text>เส้นทาง : UNKNOWN</ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="3" size-lg>
                TIME
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </ion-list>

        <ion-list style="padding: 8px;">
          <ion-toolbar class="ion-no-padding list-container">
            <ion-row>
              <ion-col size="2" size-lg>
                <ion-icon color="medium" style="height: 100%;width: 90%;" name="bus-outline"></ion-icon>
              </ion-col>
              <ion-col size="7" size-lg>
                <ion-row>
                  <ion-text><strong>TEST02</strong></ion-text>
                </ion-row>
                <ion-row>
                  <ion-label slot="end">V : 0</ion-label>
                  <ion-text>เส้นทาง : UNKNOWN</ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="3" size-lg>
                TIME
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </ion-list>

        <ion-list style="padding: 8px;">
          <ion-toolbar class="ion-no-padding list-container">
            <ion-row>
              <ion-col size="2" size-lg>
                <ion-icon color="medium" style="height: 100%;width: 90%;" name="bus-outline"></ion-icon>
              </ion-col>
              <ion-col size="7" size-lg>
                <ion-row>
                  <ion-text><strong>TEST03</strong></ion-text>
                </ion-row>
                <ion-row>
                  <ion-label slot="end">V : 0</ion-label>
                  <ion-text>เส้นทาง : UNKNOWN</ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="3" size-lg>
                TIME
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </ion-list>

        <ion-list style="padding: 8px;">
          <ion-toolbar class="ion-no-padding list-container">
            <ion-row>
              <ion-col size="2" size-lg>
                <ion-icon color="medium" style="height: 100%;width: 90%;" name="bus-outline"></ion-icon>
              </ion-col>
              <ion-col size="7" size-lg>
                <ion-row>
                  <ion-text><strong>TEST04</strong></ion-text>
                </ion-row>
                <ion-row>
                  <ion-label slot="end">V : 0</ion-label>
                  <ion-text>เส้นทาง : UNKNOWN</ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="3" size-lg>
                TIME
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </ion-list>


        <ion-list style="padding: 8px;">
          <ion-toolbar class="ion-no-padding list-container">
            <ion-row>
              <ion-col size="2" size-lg>
                <ion-icon color="medium" style="height: 100%;width: 90%;" name="bus-outline"></ion-icon>
              </ion-col>
              <ion-col size="7" size-lg>
                <ion-row>
                  <ion-text><strong>TEST05</strong></ion-text>
                </ion-row>
                <ion-row>
                  <ion-label slot="end">V : 0</ion-label>
                  <ion-text>เส้นทาง : UNKNOWN</ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="3" size-lg>
                TIME
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </ion-list>

        <ion-list style="padding: 8px;">
          <ion-toolbar class="ion-no-padding list-container">
            <ion-row>
              <ion-col size="2" size-lg>
                <ion-icon color="medium" style="height: 100%;width: 90%;" name="bus-outline"></ion-icon>
              </ion-col>
              <ion-col size="7" size-lg>
                <ion-row>
                  <ion-text><strong>TEST06</strong></ion-text>
                </ion-row>
                <ion-row>
                  <ion-label slot="end">V : 0</ion-label>
                  <ion-text>เส้นทาง : UNKNOWN</ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="3" size-lg>
                TIME
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </ion-list>

        <ion-list style="padding: 8px;">
          <ion-toolbar class="ion-no-padding list-container">
            <ion-row>
              <ion-col size="2" size-lg>
                <ion-icon color="medium" style="height: 100%;width: 90%;" name="bus-outline"></ion-icon>
              </ion-col>
              <ion-col size="7" size-lg>
                <ion-row>
                  <ion-text><strong>TEST07</strong></ion-text>
                </ion-row>
                <ion-row>
                  <ion-label slot="end">V : 0</ion-label>
                  <ion-text>เส้นทาง : UNKNOWN</ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="3" size-lg>
                TIME
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </ion-list>

        <ion-list style="padding: 8px;">
          <ion-toolbar class="ion-no-padding list-container">
            <ion-row>
              <ion-col size="2" size-lg>
                <ion-icon color="medium" style="height: 100%;width: 90%;" name="bus-outline"></ion-icon>
              </ion-col>
              <ion-col size="7" size-lg>
                <ion-row>
                  <ion-text><strong>BUS :</strong></ion-text>
                  <ion-text>TEST07</ion-text>
                </ion-row>
                <ion-row>
                  <ion-label slot="end">V : 0</ion-label>
                  <ion-text>เส้นทาง : UNKNOWN</ion-text>
                </ion-row>
              </ion-col>
              <ion-col size="3" size-lg>
                TIME
              </ion-col>
            </ion-row>
          </ion-toolbar>
        </ion-list>


      </ion-card-content>
    </ion-card>




  </div>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="!userTracked">
  <ion-fab-button (click)="findNearMe()" color="primary">
    <ion-icon name="locate-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="userTracked">
  <ion-fab-button (click)="findNearMe()" color="danger">
    <ion-icon name="locate-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<!-- <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="presentToast()">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>


    <ion-tab-button>

    </ion-tab-button>

    <ion-tab-button (click)="presentToast()">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->

<!-- <ion-footer>
  <ion-toolbar style="background: crimson;">
    <ion-grid style="position: absolute;top:0;bottom: 0;left: 0;right: 0;">
    <ion-row style="height: 100%;width: 100% ;">
      <ion-col>
        <ion-button style="position: absolute;top:0;bottom: 0;left: 0;right: 0;margin: 0 auto;">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
          <ion-badge>6</ion-badge>
        </ion-button>
    
      </ion-col>

      <ion-col>
      
      </ion-col>

      <ion-col>
        <ion-button style="position: absolute;top:0;bottom: 0;left: 0;right: 0;">
          <ion-icon name="list-outline"></ion-icon>
          <ion-label>Map</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    </ion-grid>




  </ion-toolbar>
</ion-footer> -->